[user]
    name = Deep Aggarwal
    email = deep.uiuc@gmail.com

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
